{% extends 'baseadmin.html' %}

{% block titleadmin %}Admin{% endblock %}
{% block contentadmin %}
<ul class="list-group">
    <li class="list-group-item">
        <strong>User Access:</strong> Approve or manage user permissions.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Confirm Pending Accounts:</strong> Review and confirm new account registrations.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Remove User Account:</strong> Delete a user's account permanently.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Update User Email & Password:</strong> Edit and update user credentials.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Security Logs:</strong> Monitor and review security events and logs.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Edit Website:</strong> Make updates and modifications to the website Logo and Name.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Review & Approve Announcements:</strong> Approve announcements before they go live.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Set User Storage Limit:</strong> Assign storage quotas to users based on their needs.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Delete User Folder:</strong> Remove user folders and their contents.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Clear Message User:</strong> Clear chat messages for users when necessary.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Set New Admin Password:</strong> Change the admin password securely.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Manage Positions and Advisory:</strong> Update and manage advisory and positions.
    </li>
    <br>
    <li class="list-group-item">
        <strong>Sign Out:</strong> Securely log out of the admin panel.
    </li>
</ul>

{% endblock %}
