{% extends 'base.html' %}


{% block content %}
<div class="container d-flex justify-content-around align-items-center mt-5">
    <div class="jumbotron jumbotron-custom">
        <h2>Advisory</h2>
        <br>
        <div class="form-group mt-2">
            <h6>Change to:</h6>
            <form action="{{ url_for('auth.changeadvisory')}}" METHOD="POST">
                <select name="advisory" id="" class="form-control">
                    <option value="None">None</option>
                    <option value="Kindergarten">Kindergarten</option>
                    <option value="Grade 1">Grade 1</option>
                    <option value="Grade 2">Grade 2</option>
                    <option value="Grade 3">Grade 3</option>
                    <option value="Grade 4">Grade 4</option>
                    <option value="Grade 5">Grade 5</option>
                    <option value="Grade 6">Grade 6</option>
                    {% for i in advisories %}
                    <option value="{{i.name}}"> {{i.name}}</option>
                    {% endfor %}
                    
                </select>
                <br/>
                <div class="text-center">
                <button type="submit" class="btn btn-danger">Change</button>
                </div>
            </form>
            
        </div>

    </div>


</div>

{% endblock %}