{% extends 'base.html'%}

{% block content %} 





<div class="container mt-5">
    <div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form action="/setpasswordfolder/{{id}}", method="POST">
                        <h4>Password:</h4>
                        <input type="text" name="password" id="">
                        <button type="submit" class="btn btn-primary">Set</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}